.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1; /* Rellenar todo el hueco */
    background-color: #ac0246;
    justify-content: center; /*Centrar vertical*/
    align-items: center; /*Centrar horizontal*/
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 45px;
}

.boton-clear:hover{
    background-color: #ebb000;
}